.product-item, .product {
  .item {
    .params{
      margin-top:10px;
      font-size: 13px;
      font-weight: 500;
      span{
        font-weight: 300;
        &:after{
          content:'/';
          color:#c1c1c1;
          margin: 0 0 0 3px;
        }

        &:last-child{
          &:after{
            content:none;
          }
        }
      }
    }

    .item-image {
      border-bottom: 3px solid #17a2b8;
      position: relative;

      .video_back{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background: rgba(0,0,0,0.4);
        div{
          width:100%;
          height:100%;
          background: url(../../production/img/video_back.png) no-repeat center center;
          background-size: 100px;
          opacity: 0.9;
        }
      }

      img {
        object-fit: cover;
        object-position: center;
        height: 200px;
        width: 100%;
        border-radius: 6px 6px 0 0;
      }
    }

    .item-footer {
      border-radius: 0 0 6px 6px;
      background: #fff;
      padding: 40px 10px 10px;
      text-align: center;
      position: relative;

      .item-title {
        margin-bottom: 10px;

        a {
          color: #000;
          font-weight: 600;
          text-decoration: none;
          font-size: 20px;
        }
      }

      //.item-price{
      //  top:10px;
      //  right:10px;
      //  position:absolute;
      //  padding: 0 10px;
      //  height: 30px;
      //  line-height: 30px;
      //  text-transform: uppercase;
      //  border: #f0f0f0 1px solid;
      //  border-bottom: 1px solid #17a2b8;
      //  box-shadow: 0 1px 0 #ccc;
      //  text-decoration: none;
      //  background: #fff;
      //  color: #17a2b8;
      //  border-radius: 5px;
      //  display: block;
      //  font-size: 14px;
      //  font-weight: 700;
      //  &:hover{
      //    background: #404040;
      //  }
      //}

      .item-stars {
        position: absolute;
        top: 14px;
        left: 13px;
      }

      .item-price {
        top: 10px;
        right: 10px;
        position: absolute;
        color: #17a2b8;
        display: block;
        font-size: 14px;
        font-weight: 700;
      }

      .button {
        @extend .button-purple;
        @extend .small;
      }

      .wc-forward {
        display: none !important;
      }
    }

  }
}

.rating {
  height: 1.618em;
  line-height: 1.618;
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900;
  width: 6em;
  display: inline-block;

  &:before {
    color: #47525d;
    content: "" "" "" "" "";
    opacity: .25;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;

    &:before {
      content: "" "" "" "" "";
      top: 0;
      position: absolute;
      left: 0;
      color: #FF912C;
    }
  }
}

.item-vendor, .vendor-info {
  margin-top: 25px;
  background: #fff;
  border-radius: 4px;
  padding: 5px 0;
  position: relative;
  min-height: 85px;

  .description {
    margin-left: 90px;
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-size: 14px;
  }


  .vendor-icon {
    width: 75px;
    height: 75px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #efefef;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
      height: 65px;
    }
  }

  .vendor-stars {
    position: relative;
    font-size: 10px;
  }

  &.empty{
    background: none;
  }
}
